DATABASE_URL=
NEXT_PUBLIC_APP_URL=
SOLANA_NETWORK=
SOLANA_RPC=
NEXT_PUBLIC_SOLANA_RPC=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_MAINNET_RPC=https://api.mainnet-beta.solana.com
BAGS_PARTNER_WALLET=
BAGS_PARTNER_CONFIG=
BAGS_ADDITIONAL_LOOKUP_TABLES=
BAGS_TIP_WALLET=
BAGS_TIP_LAMPORTS=
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
PRIVY_APP_SECRET=
RESEND_FROM=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
